<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72218545233-m7jll13kc8m66asltq2b30bkdf1qkhr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72218545233-m7jll13kc8m66asltq2b30bkdf1qkhr7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>72218545233-a2k4nfvnn9dt6ensh9uvmg9du5bbrvrr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJecs0C5LnA2bLd5P6IEYjb2yBUIbJ8Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>72218545233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruhani.bhagdev.ruhaniapp</string>
	<key>PROJECT_ID</key>
	<string>rufit-cadbd</string>
	<key>STORAGE_BUCKET</key>
	<string>rufit-cadbd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72218545233:ios:4903f9dda9a918aaebfc70</string>
	<key>DATABASE_URL</key>
	<string>https://rufit-cadbd-default-rtdb.firebaseio.com</string>
</dict>
</plist>